
header h1,
header h2 {
	display: block;
}

label {
	display: block;
	font-weight: bold;
	font-size: 2em ;
	text-align: center ;
}

footer {
	text-align: center;
	margin: 50px;
}

#map {
	height: 320px;
}

.place {
	height: 120px;
	background-color: grey;
}

