
body {
	padding-top: 125px;
}

header h1,
header h2,
header p {
	display: block;
	color: rgba(255,255,255,.5);
}

label {
	display: block;
	font-weight: bold;
	font-size: 2em ;
	text-align: center ;
}

footer {
	text-align: center;
	margin: 50px;
}

#map {
	height: 320px;
}

#map_summary {
	height: 500px;
}

.place {
	height: 120px;
	background-color: grey;
}

